/Utilities/.settings
/Utilities/.project
/Utilities/.classpath
/Utilities/target
/Utilities/Utilities.iml
/Utilities/.idea
/.idea
/Scratch-Pad/Utilities/src/main/java/com/alexander/scratchpad/jwt/Sandbox.java